:root {
    --modo-color: #222222;
    --border-curva: 7px;
    --small-glow: 0 2px 5px rgb(255, 255, 255);
}

/* border-radius: var(--border-curva) */
/* border-radius: var(--border-curva) */

body {
/*    background-color: var(--modo-color);*/

    background: #212534;

    color: #ffffff;
    font-family: "FreeMono", monospace;
    margin: 2%;
    font-size: 110%;
}



.Principal {
    margin: 2%;
}

.Contenedor {
    border-radius: var(--border-curva);
    padding: 2%;
    margin-bottom: 2%;

}

.border {
    box-shadow: var(--small-glow);
    
}


.Presentacion {
    text-align: center;
    margin: 5%;
}

.Presentacion span {
    
    font-weight: bold;
    font-size: 325%;
    margin: 0;
}

.Presentacion hr {
    width: 25%;
    box-shadow: var(--small-glow);
}

.Presentacion p {
    
    margin: 0;

}

.coolLine {
    box-shadow: var(--small-glow);
}





.leerMas{
    display: flex;
    justify-content: center;
    align-items: center;

}
.leerMas hr {
    float: left;
    border: none;
    height: 2px;
    width: 45%;
    background: rgb(255, 255, 255);
    box-shadow: var(--small-glow);
}



.leerMas button {
    flex-grow: 0;

    font-family: "FreeMono", monospace;
    font-weight: bolder;
    background-color: #b700ff;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    
    border: 0;
    border-radius: var(--border-curva);
    width: 50%;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;  
    
    border: 2px solid #fff;
    border-radius: var(--border-curva);
    box-shadow: var(--small-glow);
}

.leerMas button:hover{
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;

        
        background-color: rgb(194, 102, 255);        
        
}


.leerMas button a{
    display:block;
    cursor: pointer;    
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}




.LineTittle {
    display: flex;
    justify-content: center;
    align-items: center;

}
.LineTittle  hr {
    float: left;
    border: none;
    height: 2px;
    width: 35%;
    background: rgb(255, 255, 255);
    box-shadow: var(--small-glow);
}
.LineTittle h1{
    flex-grow: 0;
  
}











.Cajon {
    display: inline;
    padding: 2%;
    margin: 1%;
    border-radius: var(--border-curva);
    border-color: aliceblue;
    border: 2px solid #ffffff;
    display: inline-block;
    width: 40%;
    box-shadow: var(--small-glow);
    text-align: justify;
}



.soft_list {
    list-style: none;
    padding: 0;
}

.soft_list li {
    

    
    width: 45%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #686868;
    margin: 1%;
    color: #ffffff;
    border-radius: var(--border-curva);

    background: rgba(255, 255, 255, 0.2);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
}





.neon {
    border: 2px solid #fff;
    border-radius: var(--border-curva);
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}



.Navegacion {
    margin: 2%;
}
.Navegacion nav ul {
    list-style-type: none;
}
.Navegacion ul li {
    float: right;
    display: block;
    text-align: center;
    margin-right: 20px;
    padding: 10px 20px;
    border: 0;
    border: 2px solid #ffffff;
    border-radius: var(--border-curva);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}
.Navegacion nav span {
    font-weight: bolder;
    font-size: 225%;
    display: inline-block;
}

.Navegacion li a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none
}







.contact {
    margin: 2%;
    text-align: center;
}
.contact ul {
    list-style-type: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.contact ul li {


    width: 10%;
    
    display: inline-block   ;
    text-align: center;
    justify-content: center;

    margin-right: 20px;
    padding: 10px 20px;
    border: 0;
    border: 2px solid #ffffff;
    border-radius: var(--border-curva);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}
.contact span {
    font-weight: bolder;
    font-size: 225%;
    display: inline-block;
}

.contact li a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none
}

.contact li:hover {
        border: 2px solid #fff;
        border-radius: var(--border-curva);
        box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1rem #bc13fe,
            0 0 0.3rem #bc13fe,
            0 0 1.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
}













footer {
    border: 0;
    border-radius: var(--border-curva);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 1%;
    box-shadow:
        0 0 20px #b04fff,
        /* Sombra exterior */
        inset 60px 0 120px #f0f,
        /* left magenta */
        inset -80px 0 120px #0ff;
}
footer p {
    font-weight: bolder;
    color: black;
    font-size: 115%;
    margin: 10px;
}



.glass {

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
}
